---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
body {
   background: transparent url("../images/header_bg") repeat-x 0px 50px;
   font-family: 'Forum', "Helvetica Neue", Helvetica, Arial,  sans-serif;
   /*font-size: 13pt;*/
   /*color: #324E2D;*/
   padding-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
   /*color: #254922;*/
   font-family: 'Forum', "Helvetica Neue", Helvetica, Arial,  sans-serif;
}

header {
   /*background: transparent url("images/header-bg.jpg") no-repeat center top;*/
   min-height: 300px;
   padding-top: 57px;

   img {
      margin-top: 11px;
   }

   h1 {
      border-top: solid 1px #ED6ED7;
      padding-top: 10px;
      font-size: 24pt;
      color: #9E5CB7;
      margin-top: 22px;
      line-height: 47px;
   }

   h2 {
      color:#6B447C;
      /*color:#551D66;*/
      font-size: 33pt;
      margin-top: 10px;
      letter-spacing: 2px;
      
      i {
         color: #551D66;
      }
   }
   
}


.my-nav-color {
   background-color: transparent !important;
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9D87C1", endColorstr="#502A68");
   background-image: -khtml-gradient(linear, left top, left bottom, from(#9D87C1), to(#502A68));
   background-image: -moz-linear-gradient(top, #9D87C1, #502A68);
   background-image: -ms-linear-gradient(top, #9D87C1, #502A68);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9D87C1), color-stop(100%, #502A68));
   background-image: -webkit-linear-gradient(top, #9D87C1, #502A68);
   background-image: -o-linear-gradient(top, #9D87C1, #502A68);
   background-image: linear-gradient(#9D87C1, #502A68);
   border-bottom-color: #9F9DD1;
   /*color: #fff !important;*/
   text-shadow: 0 -1px 1px rgba(20, 33, 54, 0.75);
   -webkit-font-smoothing: antialiased;
}

.my-hall-photo {
   width: 640px;
   height: 480px;
}

a {
   color: #654C9C;
}
a:hover {
    /*color: #8FB952;*/
}

.no-margin {margin: 0;}
.no-padding {padding: 0;}
.no-border {border: 0;}
.modal-lg {width: 680px;}

/* Top menu styles */
#navbar-main.navbar-default .navbar-brand,
#navbar-main.navbar-default .navbar-nav>li>a {
   color: #E9BFED;
}

#navbar-main .navbar-brand:hover,
#navbar-main .navbar-brand:focus,
#navbar-main .navbar-nav>li>a:hover,
#navbar-main .navbar-nav>li>a:focus {
   color: #ffffff;
}


/* Main page styles */
#mainPageContent {
   background-color: #f8f0b1;

   .left-col {
      padding-top: 20px;
      text-align: center;
      color: #632C7B;
   }

   .well {
      min-height: 120px;
      margin-top: 20px;
      font-size: 13pt;
      border-color:#CAAFE2;
      background-color: #FFF;
   }

   .tab-content {
      min-height: 120px;
      border-left: solid 1px #CAAFE2;
      border-right: solid 1px #CAAFE2;
      border-bottom: solid 1px #CAAFE2;
      border-top: solid 1px #CAAFE2;
      padding: 19px;
      background-color: #F9F8F6;
      border-radius: 0 4px 4px 4px;
   }

   .nav-tabs > li.active > a,
   .nav-tabs > li.active > a:hover,
   .nav-tabs > li.active > a:focus {
      border-top-color: #CAAFE2;
      border-right-color: #CAAFE2;
      border-left-color: #CAAFE2;
      background-color: #F9F8F6;
      color: #6B447C;
   }

   .nav > li > a {
      color: #8375A3;
   }

   .nav > li > a:hover,
   .nav > li > a:focus {
      background-color: #eee;
      color: #74679B;
   }

   .tab-pane h4 {
      margin-bottom: 22px;
   }

   p.lead {
      margin-bottom: 13px;
      margin-top: 15px;
   }
}
