---
layout: default
title: ЙОГА - индивидуальные и групповые занятия | Йогатерапия
description: Групповые и индивидуацльные занятия йогой, йогатерапия.
keywords: йога, групповые зянятия йогой, индивидуальные занятия йогой, йогатерапия
tagline: Supporting tagline
mainMenuIndex: active
---
<div id="mainPageContent">
    <div class="container">
        <!-- Место проведения занятий -->
        <div class="row">
            <div class="col-lg-4 left-col">
                <i class="fa fa-4x fa-globe"></i>
                <h2>Место проведения занятий</h2>

            </div>
            <div class="col-lg-8 no-margin no-padding">
                <ul class="nav nav-tabs no-border">
                    <li class="active">
                        <a href="#goa-siolim" data-toggle="tab" class="lead no-margin">
                            <span class="flag flag-icon flag-icon-in"></span> Индия<br>
                            12/Фев/15 &ndash; 10/Апр/15
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="goa-siolim">
                        <br>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default disabled">
                                    <i class="fa fa-map-marker"></i> Индия, Гоа, Сиолим
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default disabled">
                                    <i class="fa fa-phone"></i> +91 95-45-613772
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default disabled">
                                    <i class="fa fa-at"></i> info@battery-yoga.ru
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <a type="button" href="https://www.google.com/maps/d/edit?mid=zDx8XjU8TeIM.kDGy73nMIPlo" target="_blank" class="btn btn-lg btn-default" >
                                    <i class="fa fa-lg fa-bicycle text-info"></i> <span class="lead text-info">Карта проезда</span>
                                </a>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default" data-target="#modalSiolimHall" data-toggle="modal">
                                    <i class="fa fa-lg fa-photo text-info"></i> <span class="lead text-info">Фото зала</span>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-default" data-target="#modalTeacher" data-toggle="modal">
                                    <i class="fa fa-lg fa-spin fa-empire text-info"></i> <span class="lead text-info">Учитель</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Групповые занятия -->
        <div class="row">
            <div class="col-lg-4 left-col">
                <i class="fa fa-4x fa-male"></i><i class="fa fa-4x fa-female"></i>
                <h2>Групповые занятия</h2>
            </div>
            <div class="col-lg-8 well">
                <p>Занятия в группе будут полезны как для новичков не имеющих опыта занятий йогой, так и для практикующих людей.</p>

                <h3>Длительность и особенности занятий</h3>
                <p>Длительность группового занятия варьируется от 2 до 2.5 часов.
                    Набор асан и их последовательность подбираются уникально для каждого занятия в
                    зависимости от среднего уровня группы и особенностей занимающихся.
                </p>

                <h3>Групповое занятие включает в себя</h3>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-caret-right "></i>Длительную разминку</li>
                    <li><i class="fa-li fa fa-caret-right "></i>Асаны различных уровней сложности в зависимости от группы</li>
                    <li><i class="fa-li fa fa-caret-right"></i>Пранаяму различных уровней сложности в зависимости от группы</li>
                    <li><i class="fa-li fa fa-caret-right"></i>Продолжительную шавасану</li>
                </ul>

                <h3>Результаты</h3>
                <p>Практика показывает, что реальный результат можно получить занимаясь
                    в группе не менее 2-х недель по 3 зянятия в неделю.
                </p>

                <br>
                <h3 class="text-warning"><i class="fa fa-money"></i> Стоимость</h3>
                <div class="panel panel-default">
                    <table class="table table-bordered table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>Кол-во занятий</th>
                            <th>Стоимость одного занятия, Rs</th>
                            <th>Итоговая стоимость, Rs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>450</td>
                            <td>2700</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>400</td>
                            <td>4800</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>350</td>
                            <td>8400</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer text-danger">
                        Если есть желание серьезно заниматься, но бюджет не позволяет, пожалуйста, обратитесь к нам, обязательно найдем удобные условия!!!
                    </div>
                </div>

                <br>
                <h3 class="text-warning"><i class="fa fa-clock-o"></i> Расписание</h3>
                <p class="lead">
                    Вторник / Четверг / Суббота &ndash; в 8:00
                </p>
                <p>&ndash; длительность занятия минимум 2 часа</p>
                <p>&ndash; убедительная просьба быть в зале не позже 7:55</p>


            </div>
        </div>

        <!-- Индивидуальные занятия -->
        <div class="row">
            <div class="col-lg-4 left-col">
                <i class="fa fa-4x fa-child"></i>
                <h2>Индивидуальные занятия</h2>
            </div>
            <div class="col-lg-8 well">
                <p>В отличии от группового занятия, при индивидуальной практике есть возможность
                    полностью сконцентрироваться на деталях выполнения асан и произвести точную корректировку
                    в зависимости от индивидуальных особенностей практикующего.
                    При этом акцент ставится на так называемых "правилах безопасности"
                    при выполнении асан.
                </p>

                <p>У новичков есть возможность избежать травм, не навредить себе, 
                    посредством детальной и пошаговой простройки практики. После длительных
                    индивидуальных занятий появляется навык самостоятельной практики.
                </p>

                <p>Интенсивность, переодичность, место проведения и время занятий подбираются индивидуально
                    <span class="text-muted">(возможно на вашей территории).</span>
                </p>
            </div>
        </div>

        <!-- Йогатерапия -->
        <div class="row">
            <div class="col-lg-4 left-col">
                <i class="fa fa-4x fa-magic"></i>
                <h2>Йогатерапия</h2>
            </div>
            <div class="col-lg-8 well">
                <p>Такой вариант занятий мы рекомендуем для людей имеющих травмы, различного рода боли и проблемы в теле или
                    для людей в приклонном возрасте.
                </p>

                <p>Интенсивность, переодичность, место проведения и время занятий подбираются индивидуально
                    <span class="text-muted">(возможно на вашей территории).</span>
                </p>
            </div>
        </div>

        <!-- Опыт -->
        <div class="row">
            <div class="col-lg-4 left-col">
                <i class="fa fa-4x fa-empire fa-spin"></i>
                <h2>Опыт</h2>
            </div>
            <div class="col-lg-8 well">
                <ul class="fa-ul">
                    <li class="lead"><i class="fa-li fa fa-caret-right"></i> Опыт личной практики &ndash; <span class="text-muted">более 15лет</span></li>
                    <li class="lead"><i class="fa-li fa fa-caret-right"></i> Опыт ведения преподавательской деятельности &ndash; <span class="text-muted">9лет</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include modal_teacher.html %}
{% include modal_ubud_hall.html %}
{% include modal_siolim_hall.html %}
