<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="./" title="" class="navbar-brand">Battery Yoga</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

                <li>
                    <a href="#" title=""></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="{{ page.schemaProezda }}"><a href="#" title="Схема проезда"><span class="glyphicon glyphicon-map-marker"></span> Схема проезда</a></li>
                <li><a href="" data-toggle="modal" data-target="#modalContacts"><span class="glyphicon glyphicon-phone-alt"></span> Контакты</a></li>
            </ul>
        </div>
    </div>
</div>