<!DOCTYPE html>
<html lang="ru">
<head>
    {% include header.html %}
</head>

<body>
{% include main_menu.html %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a href="http://www.battery-yoga.ru/" title="Групповые и индивидуацльные занятия йогой. Йога терапия.">
                    <img class="img-rounded" src="/images/battery_yoga_logo.png" title="Групповые и индивидуацльные занятия йогой. Йога терапия." alt="Логотип Battery Yoga">
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Battery Yoga</h2>
                <h1>Групповые и индивидуальные занятия йогой<br>Йогатерапия</h1>
            </div>
        </div>
    </div>
</header>

{{ content }}

{% include metrika.html %}
{% include modal_contacts.html %}
{% include footer.html %}
</body>
</html>
