<!-- Modal -->
<div class="modal fade" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="modalContactsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalContactsLabel">Наши контакты</h4>
            </div>
            <div class="modal-body">
                <h4><a href="https://www.facebook.com/pages/Battery-Yoga/376277799201774" target="_blank" title="Battery Yoga на Facebook"><i class="fa fa-lg fa-facebook-square"></i> Facebook</a></h4>
                <hr>
                <h4 class="lead">info@battery-yoga.ru</h4>
                <hr>
                <h4><span class="flag-icon flag-icon-in"></span> В Индии</h4>
                <p class="lead">
                    <i class="fa fa-phone"></i> +91 954 5613772 &ndash; Ирина
                </p>
            </div>
        </div>
    </div>
</div>