<!-- Modal -->
<div class="modal fade" id="modalUbudHall" tabindex="-1" role="dialog" aria-labelledby="modalUbudHallLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalUbudHallLabel">Йога зал в Убуде, Бали</h4>
            </div>
            <div class="modal-body text-center">
                <img src="/images/ubud-yoga-hall.jpg" alt="Йога зал в Убуде, Бали, Индонезия" class="img-rounded"  >
            </div>
        </div>
    </div>
</div>