<!-- Modal -->
<div class="modal fade" id="modalSiolimMap" tabindex="-1" role="dialog" aria-labelledby="modalSiolimMapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-lg"></i> </button>
                <h2 class="modal-title" id="modalSiolimMapLabel">Карта проезда</h2>
            </div>
            <div class="modal-body text-center">
                <iframe src="https://mapsengine.google.com/map/embed?mid=zDx8XjU8TeIM.kDGy73nMIPlo" width="640" height="480"></iframe>
            </div>
        </div>
    </div>
</div>